numpy
pandas

langchain>=0.1.20
langchain-core>=0.1.52
langchain-community>=0.0.38

sentence-transformers
transformers
torch

faiss-cpu

pypdf
beautifulsoup4
lxml
requests
langdetect

flask
flask-cors
python-dotenv
tqdm

streamlit
deep-translator
